  .boxed-page{
        width: 100% !important;
    }

.boxed-pag {
    color: black;
}

.navbar-default {
    border-bottom: none;
}

@media only screen and (max-width: 1000px){
    .desktop-nav{
        display: none!important;
    }

    .moblie-nav{
        display: block!important;
    }
}


.container {
    width: 90%;
}

@media only screen and (max-width: 800px){
    .hero_area{
       height: 100%;
    }

    .hero_content{
       height: 100%;
    }  

}


@media only screen and (max-width: 600px){
    .logo_lcit{
       display: none;
    } 

}
 .moblie-nav{
        display: none;
    }
    
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background: rgba(255,255,255,.15);
}


.main-navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}


.main-navbar-nav li > .dropdown-menu > li > a {
    font-size: 11px;
}
.navbar-default .navbar-nav > li > a {
    font-size: 11px;
}
    .hero_area{
        background-image: url('img/HOME.jpg');
    }

.boxed-page {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
    .search-query:focus + button {
        z-index: 3;   
    }
